
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 
        /*etiquetas globales */
body{ font-family: 'Playfair Display', serif; }
    a  { text-decoration: none; }
   h1  { color: black; font-size: 45px; }
   h2   { color: black; font-size: 40px;}
   h3  { color: black; font-size: 35px; }
   h4 {  color: black; font-size: 14px;  }
   .texto1 { margin-bottom: 30px;}
    span{ font-weight: 600; }
   

.padre-contenedor{
                display: flex;
                flex-flow: column wrap;
                /* background: orangered; */
                }             
    header{     
            display: flex; 
            flex-flow: row wrap;  
            justify-content: space-around;
            /* background: #6ab04c; */
            width: 100%;
            padding: 10px;
            }
            .imagen {
    /* estilo de la imagen del header*/
                    background: url(img/eiffel-tower.jpg);
                    background-position: center;
                    background-attachment: contain;
                    background-size: cover;
                    width: 98.9vw;
                    height: 500px;
                    }
            .logo{
                    /* background: #f9ca24; */
                    width: 20%;
                    height: 60px;   
                    } 
            .menu{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    /* background: #22a6b3; */
                    width: 60%; 
                 }
            .menu a {
                    display: flex;
                    color: black;
                    font-size: 18px;
                    font-weight: 600;
                    }
           .menu a:hover{
                    font-size: 18px;
                    font-weight: 600;
                    border-bottom: 1px solid red; 
                    color: green; 
                    }
                            
/* INICIA CONTENEDOR 1*/

.contenedor{ margin-bottom: 10px;
        width: 80%;
        margin: 0px auto;
        padding: 20px;
            /* background: #C4E538; */
            }
            .contenido{ 
        /* configura todas las etiquetas <article>*/
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: left;
                width: 100%;
                margin-bottom: 30px;
                text-align: justify;
                /* margin: 0px 70px;*/ } 
                

/* INICIA CONTENEDOR 2*/

.contenedor2{
        /* background: #0984e3; */
        display:flex;
        width: 90%;
       padding: 0px 10px;
       margin-bottom: 100px;
       margin: 0px auto;
        /* flex-flow: column wrap; */
        /* esta propiedad me ayudara hacer responsiva la pagina - imagenes*/
        }
        .content{
                display: flex;
                flex-flow: row wrap;
                align-content: center;
                justify-content: center;
                padding: 10px;
                /* background: #00b894; */
                }

        /*configuracion de las imagenes de los articulos*/
                .foto {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        width: 100%;
                        /* background: #d63031; */
                        }
                        img{ width: 100%; height: 100%; }

/*inicia contenedor 3 */

.contenedor3{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        background:#b2bec3;
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
        }
        .titulo{
                /* background: #00b894; */
                display: flex;
                
                }
        .direccion{
               display: flex;
                }
                input{
                        border: 0;
                        outline: none;
                        border-bottom: 2px solid black;
                        width: 350px;
                        height: 30px;
                        background: #b2bec3;
                     }
                     .boton {
                             color: black;
                             font-size: 30px;
                             background: none;
                             border: 0;
                             outline: none;
                             cursor: pointer;
                            }
                     .boton i:hover{
                             color: green;
                                }

.contenedor4{
       padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0px auto;
        }
        .foto1{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-content: center;
                width: 100%;              
        }
       .vistas{
               width: 600px;;      
       }
       .style{
               width: 600px;
               text-align: justify;
                /* margin-bottom: 25px; */
       }
.botongrande{
        display: flex;
        /* flex-flow: column wrap; */
        justify-content: center;
        align-items: center;
        }
        .leer{
         border: 2px 2px; 
         background: none;
         cursor: pointer;  
         width: 50px;
         height: 10px;    
        }
.botongrande > button{
        width: 400px;
        height: 50px;
        border: 1px solid black;
        margin-top: 150px;
        margin-bottom: 100px;
        }
        .botongrande > button:hover{
        background:#dcdde1;
        }
        button > a {
                color: black;
                font-size: 16px;
        }
.footer{
        
        background: #dcdde1;
        /* height: 100px; */
       
}
.seccion{
        display: flex;
        width: 90%;
        margin: 0px auto;
        height: 100px;
        /* flex-flow: row wrap; */
        justify-content: space-between;
        align-items: center;
}
.terminos{
        display: flex;
        /* flex-flow: row wrap;  */
        width: 20%;
        justify-content: space-between;
        
}
.terminos > a {
        color: black;
}
.terminos > a:hover{
        color: green;
        border-bottom: 1px solid red;
}
.sociales{
        display: flex;
        /* flex-flow: row wrap; */
        justify-content: space-between;
        /* margin-right: 50px; */
        width: 30%;
}
.sociales > a  {
        font-size: 15px;
        color: black;
}
.sociales > a:hover{
        color: green;
        border-bottom: 1px solid red;
}
       